footer {
	background-color: black;
	color: white;
	text-align: center;
	padding: 1em;
}

img {
	padding: 1em;
	display: inline-block;
	margin: auto;
}

.col-md-4 {
	display: inline-block;
	margin: auto;
}

button {
	display: inline-block;
	margin: auto;
}